@charset "UTF-8";

:root {
  --link-color: #349bf4;
  --main-color: #dd1b57;
  --text-color: #333;
}

/*--------------------------------
全体
---------------------------------*/
body {
  font-family:
    "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*--------------------------------
 Layout
---------------------------------*/
.wrapper {
  overflow-x: hidden;
}
/*横にはみ出ないようにするため*/

.container {
  max-width: 1170px; /*PCの横幅*/
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  display: grid;
  padding: 60px 0 100px;
  row-gap: 80px;
}
/*--------------------------------
 見出し
---------------------------------*/
.heading-primary {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--main-color);
}
/*--------------------------------
 ニュース
---------------------------------*/
.news__inner {
  display: flex;
  column-gap: 90px;
}

.news__body {
  flex: 1;
}

.news-list__link {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
}

.news-list__link:hover {
  color: var(--main-color);
}

.news-list__item {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.news-list__item:last-child {
  margin-bottom: 0;
}

.news-list__title {
  font-size: 15px;
  line-height: 1.8;
}

.news-list__date {
  margin-right: 20px;
}
/*--------------------------------
 テーブル
---------------------------------*/
.table-type01 {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-type01 tr {
  border-bottom: solid 1px #ddd;
}

.table-type01 th,
.table-type01 td {
  text-align: left;
  padding: 30px;
}

.table-type01 th {
  width: 20%;
}

.table-type01 p:not(:last-child) {
  margin-bottom: 10px;
}

.table-type01 ul {
  margin-left: 20px;
}

/*--------------------------------
 下層ページ：メッセージ
---------------------------------*/
.message {
  max-width: 850px;
  margin: 0 auto;
}

.message__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 20px;
}

.message__subtitle {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 40px;
}

.ceo-message__img-wrapper {
  width: 100px;
  margin: 0 25px 15px 0;
  float: left;
}

.ceo-message__img {
  border-radius: 50%;
}

.ceo-message__text {
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.ceo-message__text a {
  color: var(--link-color);
}

/*--------------------------------
 下層ページ：会社概要
---------------------------------*/
.company-info__table {
  margin-bottom: 50px;
}

.company-info__map iframe {
  height: 400px;
}

.company-info__map-link {
  font-size: 14px;
  text-align: right;
  margin-top: 20px;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }

  .heading-primary {
    font-size: 32px;
  }

  /* レイアウト */
  .container {
    padding: 0 20px;
  }

  .content {
    padding: 40px 0 60px;
    row-gap: 50px;
  }

  .table-type01 {
    font-size: 14px;
    line-height: 1.5;
  }

  .table-type01 th,
  .table-type01 td {
    padding: 20px 0;
  }

  .table-type01 th {
    width: 100px;
  }

  /* 下層ページ：メッセージ */
  .message__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .message__subtitle {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .ceo-message__img-wrapper {
    margin: 0 15px 10px 0;
  }

  .office-img {
    height: 260px;
    object-fit: cover;
  }

  /* 下層ページ：会社概要 */
  .company-info__map iframe {
    height: 300px;
  }

  .company-info__map-link {
    font-size: 12px;
    margin-top: 15px;
  }
}
