.headingPrimary {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

.serviceHeading {
  position: relative;
  margin-bottom: 50px;
}

.serviceHeading::before {
  display: block;
  content: "SERVICE";
  position: absolute;
  top: -40px;
  right: -20px;
  z-index: -1;
  font-size: 168px;
  font-weight: bold;
  line-height: 1;
  color: #f2f2f2;
}

.serviceList {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.serviceListItem {
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
}

.serviceListImgWrapper {
  text-align: center;
  margin-bottom: 10px;
}

.serviceListImg {
  font-size: 48px;
  color: var(--main-color);
  vertical-align: bottom;
}

.serviceListTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.serviceListText {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 15px;
}
